body {
    margin: 0;
    padding: 0;
}
#page {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
    grid-template-columns: auto;
    /* border: 2px solid black; */
    grid-template-areas: 
    "b1"
    "b2"
    "b3"
    "b4"
    "b5"
    "b6"
    "b7";
    grid-gap: 4%;
    /* margin: 10% 0; */
}
#box1 ,#box2, #box3, #box4, #box5, #box6, #box7 {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px dashed blue; */
}
.boxtext {
    margin: 8% 5% 0 5%;
    line-height: 1.8;
    
    color: #525862;
}
p {
    color: #a8abb0;
}
a{
    color: tomato;
}
img {
    display: block;
    margin-left: 5%;
    width: 40%;
    text-align: left;
}
#box1 {
    grid-area: b1;
}
#box2 {
    grid-area: b2;
}
#box3 {
    grid-area: b3;
}
#box4 {
    grid-area: b4;
}
#box5 {
    grid-area: b5;
}
#box6 {
    grid-area: b6;
}
#box7 {
    grid-area: b7;
}
