body {
    margin: 0;
    padding: 0;
}
body>div{
    width: 90%;
    height: auto;
    margin: auto;
}
/* main div  */
#main{
    display: grid;
    gap: 20px;
}
#main_right{
    grid-area: main_right;
}
#main_left{
    grid-area: main_left;
}
#main2{
    display: grid;
    grid-template-columns: auto auto;
}
body>div:nth-child(3)>div:nth-child(1){
    grid-area: main2_left;
}
body>div:nth-child(3)>div:nth-child(2){
    grid-area: main2_right;
}
.image_logo{
    width: auto;
    height: auto;
}
.the_right_care{
    width: 30%;
    margin: auto;
    color: rgb(119, 119, 119);
    font-size: 20px;
    text-align: left;
}
.main_the_right_care{
    display: flex;
    width: 70%;
    height: auto;
}
.the_right_care_image{
    width: 100%;
}
.dual_paragraph{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(207,201,173,255);
}
.dual_paragraph > div{
    margin: 2% 10%;
    width: 100%;
}


/* Media  */
@media only screen and (min-width: 992px) {
    #main{
        grid-template: "main_left main_right";
        height: auto;
    }
    #main2{
        grid-template: "main2_left main2_right"
    }
}
@media only screen and (max-width: 991px) {
    #main{
        grid-template: "main_left main_right";
        height: auto;
    }
    #main2{
        grid-template: "main2_left"
                        "main2_right"
    }
    #logo_div{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    #main{
        grid-template: "main_left main_right";
    }
    #main2{
        grid-template: "main2_left "
                        "main2_right"
    }
    #logo_div{
        flex-direction: column;
    }
    #third_div{
        flex-direction: column;
    }
    .main_the_right_care{
        flex-direction: column;
    }
    .dual_paragraph{
        flex-direction: column;
    }
    #two_image{
        flex-direction: column;
    }
    
}
@media only screen and (max-width: 660px) {
    #main{
        grid-template: "main_left main_right";
        height: auto;
    }
    #main2{
        grid-template: "main2_left"
                        "main2_right"
    }
    #logo_div{
        flex-direction: column;
    }
    #third_div{
        flex-direction: column;
    }
    .main_the_right_care{
        flex-direction: column;
    }
    .dual_paragraph{
        flex-direction: column;
    }
    #two_image{
        flex-direction: column;
    }
}