.nav{
    position: fixed;
    background-color: white;
    margin-top: 0px;
}
.nav_two{
    display: flex;
    margin-left: 5%;
    padding: 20px;
}
.nav_logo{
    width: 20%;
}

.nav_li ul{
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    
}
.nav_li ul a{
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
    display: block;
}
.nav_li ul li{
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.nav_li ul ul{
    position: absolute;
    background-color: rgb(252, 252, 252);
    top: 100%;
    display: none;
}
.nav_li ul li:hover > ul{
    display: block;
    width: 200px;
}